# **PYTHON PROGRAM**

# control structures

In [1]:
# IF..ELSE STATEMENT
# write a program to check if the number is even or odd 

a=int(input("enter a number:"))
if a%2==0:
    print(a,"is an even number")
else:
    print(a,"is an odd number")

enter a number: 22

22 is an even number

In [2]:
a=int(input("enter a number:"))
x="even" if a%2==0 else "odd"
print(a,"is",x)

enter a number: 21

21 is odd

In [3]:
# NESTED IF ELSE STATEMENT
# program to illustrate thr use of nested if statement

tamil=int(input("enter a tamil mark:"))
english=int(input("enter a english mark:"))
maths=int(input("enter a maths mark:"))
science=int(input("enter a science mark:"))
social=int(input("enter a social mark:"))
avg=(tamil+english+maths+science+social)/5
print("Average:",avg)
if avg >= 80:
    print("grade:A")
elif avg>= 70 and avg<80:
    print("grade:B")
elif avg>= 60 and avg<70:
    print("grade:C")
elif avg>= 50 and avg<60:
    print("grade:D")
else:
    print("grade:E")

enter a tamil mark: 78
enter a english mark: 77
enter a maths mark: 78
enter a science mark: 89
enter a social mark: 90

Average: 82.4
grade:A

In [4]:
# write a program to illustrate the use of 'in' and 'not in' if statement
a=input("enter a character:")
chr= 'aeiouAEIOU'
if a in chr:
    print(a,"is the vowel")
if a not in chr:
    print(a,"is not in vowel")

enter a character: flower

flower is not in vowel

In [5]:
# WHILE LOOP
# use while loop to print all numbers from 10 to 15
i=10
while (i<=15):
    print(i,end='\n')
    i=i+1

10
11
12
13
14
15

In [6]:
# FOR LOOP
# use of for loop to print single digit even number

for i in range(2,10,2):
    print(i,end=' ')

2 4 6 8

In [7]:
# program to calculate the sum of numbers 1 to 100
n=100
sum=0
for counter in range(1,n+1):
    sum = sum+counter
print("sum of 1 until %d:%d" % (n,sum))

sum of 1 until 100:5050

In [8]:
# program to illustrate the use of string in range() of for loop
for word in 'COMPUTER':
    print(word,end=' ')

C O M P U T E R

In [9]:
# NESTED LOOP STRUCTURE
# program to illustrate the use nested loop - for within while loop
i=1
while(i<=6):
    for j in range(1,i):
        print(j,end='\t')
    print(end='\n')
    i+=1

1
1	2
1	2	3
1	2	3	4
1	2	3	4	5

In [10]:
# BREAK STATEMENT
# write a program to use of break statement
for word in "jump statement":
    if word == "e":
        break
    print(word,end='')

jump stat

In [11]:
# CONTINUE STATEMENT
# write a program to use continue statement
for word in "jump statement":
    if word == "e":
        continue
    print(word,end='')

jump statmnt

In [1]:
# PASS STATEMENT
# program to illustrate thr use of pass statement 
a=int(input("enter a number:"))
if a ==0:
    pass
else:
    print("non zero value is accepted")  # if the input value is 0 then no action will be performed

enter a number: 4

non zero value is accepted

In [2]:
# write a program to check whether the given character is a vowel or not 
a=input("enter a word:")
ch='aeiouAEIOU'
if a in ch:
    print("vowel")
else:
    print("not a vowel")

enter a word: welcome

not a vowel

In [3]:
# using if..else..elif statement check smallest of three numbers
a=int(input("enter a number(a):"))
b=int(input("enter a number(b):"))
c=int(input("enter a number(c):"))
if a < b and a < c:
    print("a is smallest")
elif b < a and b < c:
    print("b is smallest")
else:
    print("c is smallest")

enter a number(a): 44
enter a number(b): 56
enter a number(c): 345

a is smallest

In [4]:
# write a program to check if a number is positive, negative or zero
a=int(input("enter a number:"))
if a < 0:
    print("negative")
elif a>0:
    print("positive")
else:
    print("zero")

enter a number: -0

zero

In [5]:
# fibonacci series 0 1 1 2 3 4 5.. n
limit=int(input("enter a number:"))
a,b=0,1
while b < limit:
    print(a,end=" ")
    a,b=b,a+b

enter a number: 23

0 1 1 2 3 5 8 13

In [6]:
# write a program to display sum of natural numbers upto n
n = int(input("Enter a positive number: "))
sum = n * (n + 1) // 2
print("Sum of natural numbers up to", n, "is:", sum)

Enter a positive number:  66

Sum of natural numbers up to 66 is: 2211

In [7]:
n = int(input("Enter a positive number: "))
sum = 0
for i in range(1, n + 1):
    sum += i
print("Sum of natural numbers up to", n, "is:", sum)

Enter a positive number:  55

Sum of natural numbers up to 55 is: 1540

In [8]:
n = int(input("Enter a positive number: "))
sum = 0
i = 1
while i <= n:
    sum += i
    i += 1
print("Sum of natural numbers up to", n, "is:", sum)

Enter a positive number:  3

Sum of natural numbers up to 3 is: 6

In [9]:
# write a program to check if the given number is palindrome or not 
n=input("enter a number:")
if n ==n[::-1]:
    print(n,"is a palindrome")
else:
    print(n,"is not a palindrome")

enter a number: 44

44 is a palindrome

In [10]:
n=int(input("enter a number:"))
original = n
reverse = 0
while n> 0:
    digit = n % 10
    reverse = reverse * 10 + digit
    n = n// 10
if original == reverse:
    print(original,"is a palindrome")
else:
    print(original,"is not a palindrome")

enter a number: 2323

2323 is not a palindrome

In [11]:
# write a program to print the following pattern
#   * * * * *
#   * * * *
#   * * *
#   * *
#   *
i=5
while i>=1:
    for j in range(i):
        print("*",end=' ')
    print()
    i-=1

* * * * *
* * * *
* * *
* *
*

In [12]:
# write a program to check if the year is leap year or not 
year=int(input("enter a year:"))
if year % 4 ==0:
    print(year,"is leap year")
else:
     print(year,"is not a leap year")

enter a year: 2078

2078 is not a leap year

# Python Function

In [13]:
def hello():
    print("hello!! python")
hello()

hello!! python

In [14]:
def area(a,b):
    return a*b
print(area(3,4))

12

In [15]:
# positional arguments

def greet(name,age):
    print("name:",name)
    print("age:",age)
greet("john",23)

name: john
age: 23

In [16]:
# keyword arguments

def printdata(name,age):
    print("name:",name)
    print("age:",age)
    return 
printdata(name="dev",age=23)

name: dev
age: 23

In [17]:
# default arguments

def greet(name, msg="good morning"):
    print(f"hello {name},{msg}")
greet("dev")  # uses default msg
greet("varshini","hii") # overrides default

hello dev,good morning
hello varshini,hii

In [18]:
def data(name,salary=450000):
    print("name:",name)
    print("salary:",salary)
    return
data("dev")

name: dev
salary: 450000

In [1]:
# variable length arguments  multiple values - stored in tuple
def num1(*args):
    total = sum(args)
    print("sum:", total)

num1(1, 2, 3, 4, 5)

sum: 15

In [20]:
def num(*args):
    for n in args:
        print(n)
        
print("printing 2 values")
num(1,2)
print("printing 3 values")
num(1,2,3)

printing 2 values
1
2
printing 3 values
1
2
3

In [21]:
# keyword arguments   key + value pairs - stored in dictionary
def profile(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}:{value}")
profile(name="deva",age=23,location="chennai",year=2003)

name:deva
age:23
location:chennai
year:2003

In [22]:
# SCOPE OF VARIABLE
# create local variable
def loc():
    y=100 # local scope
    print(y)
loc()

100

In [23]:
# GLOBAL SCOPE
c=1 # global scope
def add():
    print(c)
add()

1

In [24]:
# changing global variable from inside a function using global keyword

x=0
def add():
    global x
    x = x+5
    print("inside add() function x value is :",x)
add()
print("In main x value is:",x)

inside add() function x value is : 5
In main x value is: 5

In [25]:
c=1
def add():
    global c
    c = c+2
    print(c)
add()
c=c+1
print(c)

3
4

In [26]:
# using global and local variable in same code
x=8
def loc():
    global x
    y="local"
    x=x*2
    print(x)
    print(y)
loc()

16
local

In [27]:
# global variable and local variable with same name 
x=5
def loc():
    x=10
    print("local x:",x)
loc()
print("global x:",x)

local x: 10
global x: 5

In [43]:
# FUNCTION WITH LIBRARIES

# abs()= return an absolute value of the number
# a=-22
# abs_a=print(abs(a))

# ard() = return the ASCII value for the given unicode character

x='a'
y='A'
print("ord_x=",ord(x))
print("ord_y=",ord(y))

# chr() = return the unicode character for the given ASCII value

str1=65
print("chr_x=",chr(str1))

# bin() = returns a binary string prefixed with "0b" for the given integer number
x=15
print("15 in binary:",bin(x))

# type() = return the type of object for the given single object
x=15.2
s=True
print("type_x=",type(x))
print("type_s=",type(s))

# id() = return the "identity" of an object
x='a'
print("address of x is:",id(x))

# min() = return the minimum value in a list
my_list=[21,43,12,65,2,45]
print("minimum of my list:",min(my_list))

# max() = return thr maximum value in a list
my_list1=[21,43,65,2,45]
print("maximum of my list:",max(my_list1))


# format() = returns the output based on the given format -- format(value[format_spec])
# - binary format-- outputs the number in base 2
# - octal format-- outputs the number in base 8
# - fixed-point notation-- displays the number as a fixed-point number, the default precision is 6
x=14
y=25
print("x value in binary:",format(x,'b'))
print("x value in octal:",format(x,'o'))
print("x value in fixed-point:",format(x,'f'))

# round() = return the nearest integer to its input -- round(number[,ndigits])
# - first argument -- (number) is used to specify the value to be rounded
# - second argument -- (ndigits) is used to specify the number of dicimal digits desired afer rounding

x=17.9
y=-18.3
z=17.89
print("x value is rounded to:",round(x))
print("y value is rounded to:",round(y))
print("z value is rounded to:",round(z,0))
print("z value is rounded to:",round(z,1))
print("z value is rounded to:",round(z,2))

# pow() = returns the computation od ab a**b

a=5
b=2
c=3.0
print("power (a**b):",pow(a,b))
print("power (a**c):",pow(a,c))
print("power:",pow(a+b,3))

import math

# floor() = returns the largest integer less than or equal to x
x=26.7
print("floor:",math.floor(x))

# ceil() = returns the smallest integer grater than or equal to x
x=23.8
print("ceil:",math.ceil(x))

# sqrt() = returns the square root of x
x=25
print("square_root:",math.sqrt(x))

ord_x= 97
ord_y= 65
chr_x= A
15 in binary: 0b1111
type_x= <class 'float'>
type_s= <class 'bool'>
address of x is: 140737152273496
minimum of my list: 2
maximum of my list: 65
x value in binary: 1110
x value in octal: 16
x value in fixed-point: 14.000000
x value is rounded to: 18
y value is rounded to: -18
z value is rounded to: 18.0
z value is rounded to: 17.9
z value is rounded to: 17.89
power (a**b): 25
power (a**c): 125.0
power: 343
floor: 26
ceil: 24
square_root: 5.0

In [1]:
# Program to find the sum of elements in a list

# Sample list
list2 = [21, 43, 12, 65, 2, 5]

# Use built-in sum() to calculate total
print("Sum:", sum(list2))

Sum: 148

In [10]:
# recursive function 
def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)
print(fact(0))
print(fact(5))

1
120

# strings and string manipulation

In [30]:
# program to access each character with its positive subscript of a giving string 
str1=input("enter a string:")
index=0
for i in str1:
    print(f"subscript {index}:",i)
    index+=1

enter a string: car

subscript 0: c
subscript 1: a
subscript 2: r

In [32]:
# program to access each character with its negative subscript of a given string 
str1=input("enter a string:")
index=-1
while index >= -(len(str1)):
    print(f"subscript {index}:",str1[index])
    index+=-1

enter a string: dog

subscript -1: g
subscript -2: o
subscript -3: d

In [33]:
# replace function 
str1="hello !! how are you"
print(str1)
print(str1.replace("o","O"))

hello !! how are you
hellO !! hOw are yOu

In [34]:
# STRING OPERATORS

# concatenation(+)
str1="Welcome"
str2="\tPython"
print("concatenation:",str1 + str2)

# append (+=)
str1="welcome to"
str1+="learn python"
print("append:",str1)

# repeating (*)
str1="welcome"
print("repeating:",str1*4)

# string slicing -- str[start:end]

str1="python"
print("slicing_1:",str1[0])
print("slicing_2:",str1[0:2])
print("slicing_3:",str1[:3])
print("slicing_4:",str1[4:])
print("slicing_5:",str1[:])
print("slicing_6:",str1[::-1])

concatenation: Welcome	Python
append: welcome tolearn python
repeating: welcomewelcomewelcomewelcome
slicing_1: p
slicing_2: py
slicing_3: pyt
slicing_4: on
slicing_5: python
slicing_6: nohtyp

In [35]:
# program to slice substring using for loop 
str1="COMPUTER"
index=0
for i in str1:
    print(str1[:index+1])
    index+=1

C
CO
COM
COMP
COMPU
COMPUT
COMPUTE
COMPUTER

In [36]:
# BUILT IN STRING FUNCTION 

# len(str) = returns the length of the string 
A="Computer"
print("length of the string:",len(A))

# capitalize() = used to capitalize the first character of the string 
city="chennai"
print("capitalize:",city.capitalize())

# center(width, fillchar) = simple and efficient way to center-align strings within a given width
str1="welcome"
print("center:",str1.center(10,"*"))

# find(sub[,start[,end]]) = returns the lowest index of the substring sub in a string, optionally between positions start and end.
str1="Hello, welcome to my world."
print("find:",str1.find('to'))
print("find1:",str1.find('e',2))
print("find2:",str1.find('o',2,5))

# isalnum() = It returns True if all characters in the string are alphanumeric (letters and numbers), otherwise False
print("isalnum1:","abc123".isalnum())  
print("isalnum2:","abc 123".isalnum())  

# isalpha() = returns true if the string contains onlt letters otherwise false.
print("isalpha1:","chennai".isalpha())  
print("isalpha2:","abc 123".isalpha()) 

# isdigit() = returns true if the string contains numbers only otherwise false.
print("isdigit1:","chennai123".isdigit())  
print("isdigit2:","123".isdigit()) 

# lower() = return the exact copy of the string with all the letters in lowercase
str1="SAVE EARTH"
print("lower:",str1.lower())

# islower() = returns true if the string is in lowercase
str1="welcome"
print("islower:",str1.islower())

# upper() = return the exact copy of the string with all the letters in uppercase
str1="welcome python"
print("upper:",str1.upper())

# isupper() = returns true if the string is in uppercase
str1="WELCOME"
print("isupper:",str1.isupper())

# title() = returns a string in title case
str1="python notebook"
print("title:",str1.title())

# count(str.beg,end) 
## substring – The text you want to count, start (optional) – Index to start searching from, end (optional) – Index to stop searching.
str1="operators can be used with strings"
print("count1:",str1.count('can'))
print("count2:",str1.count('s'))

# ord(char) = returns the ASCII code of the character
ch='A'
print("ord(char):",ord(ch))
print("ord(char)1:",ord('B'))

# chr(ASCII) = returns the character represented by a ASCII 
ch=97
print("char(ASCII):",chr(ch))
print("char(ASCII)1:",chr(87))

length of the string: 8
capitalize: Chennai
center: *welcome**
find: 15
find1: 8
find2: 4
isalnum1: True
isalnum2: False
isalpha1: True
isalpha2: False
isdigit1: False
isdigit2: True
lower: save earth
islower: True
upper: WELCOME PYTHON
isupper: True
title: Python Notebook
count1: 1
count2: 4
ord(char): 65
ord(char)1: 66
char(ASCII): a
char(ASCII)1: W

In [37]:
# program to check whether the given string is palindrome or not 
ch=input("enter a word:")
if ch ==ch[::-1]:
    print(ch,"is a palindrome")
else:
    print(ch,"is not a palindrome")

enter a word: gang

gang is not a palindrome

In [45]:
# program to display the following pattern
# *
# * *
# * * *
# * * * *
# * * * * *

str1='*'
i=1
while i<=5:
    print(str1*i)
    i+=1

*
**
***
****
*****

In [46]:
# number of vowels and consonants in the given string 
str1=input("enter a word:")
str2='AEIOUaeiou'
v,c=0,0
for i in str1:
    if i in str2:
        v+=1
    else:
        c+=1
print(f"the given string contains {v} vowels and {c} consonants")

enter a word: galaxy

the given string contains 2 vowels and 4 consonants

In [47]:
# create an abecedarian series (abecedarian refers list of elements appear in alphabetical order)
str1='ABCDEFGH'
str2="ate"
for i in str1:
    print((i+str2),end='\t')

Aate	Bate	Cate	Date	Eate	Fate	Gate	Hate

In [48]:
# program that accept a string from thr user and display the same after removing vowels from it 
text = input("Enter a string: ")
vowels = "aeiouAEIOU"
result = ""
for char in text:
    if char not in vowels:
        result += char
print("String after removing vowels:", result)

Enter a string:  earth

String after removing vowels: rth

In [49]:
# program that count the occurrences of a character in a string 
text = input("Enter a string: ")
char = input("Enter a character to count: ")
count = text.count(char)
print(f"The character '{char}' appears {count} times.")

Enter a string:  software
Enter a character to count:  e

The character 'e' appears 1 times.

In [50]:
# Program to find the length of a string
text=input("enter a word:")
print("length of the string:",len(text))

enter a word: power

length of the string: 5

In [1]:
# Program to count the occurrences of each word in a string
text=input("enter a word:")
words=text.split()
word_count={}
for word in words:
    if word in word_count:
        word_count[word] +=1
    else:
        word_count[word] = 1
        
print("word occurences:")
for wword, count in word_count.items():
    print(word,":",count)

enter a word: take care take care

word occurences:
care : 2
care : 2

In [2]:
#  Program to add a prefix text to all the lines in a string
text = """This is line one.
This is line two.
This is line three."""
prefix=">>>"
lines = text.split('\n')
prefixed_lines=[prefix + line for line in lines]
result = '\n'.join(prefixed_lines)
print("\nmodified string:\n")
print(result)

modified string:

>>>This is line one.
>>>This is line two.
>>>This is line three.

In [3]:
# Program to print integers with ‘*’ on the right of specified width
num = int(input("enter a integer:"))
width= int(input("enter width:"))
print(str(num).ljust(width,"*")) # left-justified string of a specified width

enter a integer: 23
enter width: 6

23****

In [4]:
text = "hi"
print(text.ljust(5, '*'))

hi***

In [5]:
#  Program to create a mirror image of the given string
text=input("enter a string:")
mirror=text[::-1]
print("mirror image:",mirror)

enter a string: value

mirror image: eulav

In [6]:
# Program to remove all occurrences of a given character in a string
text=input("enter a string:")
ch = input ("enter character to remove:")
result=""
for c in text:
    if c != ch:
        result +=c
print("string after removing character:",result)

enter a string: laptop
enter character to remove: o

string after removing character: laptp

In [7]:
# Program to append a string to another string without using +=
str1 = input("enter a first string:")
str2 = input("enter a second string:")
result = (f"{str1}{str2}")
print('append string:',result)

enter a first string: mobile
enter a second string: phone

append string: mobilephone

In [2]:
# Program to swap two strings
a= input("enter first string:")
b = input("enter second string:")
a,b=b,a
print("after swapping")
print("first string:",a)
print("second string:",b)

enter first string: cat
enter second string: dog

after swapping
first string: dog
second string: cat

In [4]:
# Program to replace a string with another without using replace()
text = input("enter a string:")
old = input("enter text to be replaced:")
new = input("enter new text:")
parts = text.split(old)
result = new.join(parts)
print("string after replacement:",result)

enter a string: I like apples and apples are sweet
enter text to be replaced: apples
enter new text: banana

string after replacement: I like banana and banana are sweet

In [5]:
# Program to count the number of characters, words, and lines in a string
text = input("Enter multiple lines (use \\n to separate lines): ")

# Count lines
lines = text.split("\\n")

# Count words
words = text.replace("\\n", " ").split()

# Count characters (excluding '\n')
characters = len(text.replace("\\n", ""))

# Print results
print("Lines:", len(lines))
print("Words:", len(words))
print("Characters:", characters)

Enter multiple lines (use \n to separate lines):  Hello world\nPython is fun\nLet's code

Lines: 3
Words: 7
Characters: 34

# List

In [3]:
# accessing all the elements of a list
marks=[10,23,43,45]
i=0
while i< 4:
    print(marks[i])
    i=i+1

10
23
43
45

In [6]:
# reverse indexing 
marks=[10,23,43,45]
i = -1
while i>= -4:
    print(marks[i])
    i= i + -1

45
43
23
10

In [7]:
# list length
my_list=["samsung_galaxy","apple","oneplus","google_pixel"]
len(my_list)

4

In [8]:
# program to display elements in a list using loop
my_list1=["samsung_galaxy","apple","oneplus","google_pixel"]
i=0
while i < len(my_list1):
    print(my_list1[i])
    i = i + 1

samsung_galaxy
apple
oneplus
google_pixel

In [9]:
# accessing element using for loop
marks=[72,75,67,87,65]
for x in marks:
    print(x)

72
75
67
87
65

In [10]:
# changing list elements
mylist=[22,33,44,55,66]
print("elements before update")
for x in mylist:
    print(x)
mylist[2]=88
print("elements after update")
for y in mylist:
    print(y)

elements before update
22
33
44
55
66
elements after update
22
33
88
55
66

In [11]:
# program to update/change range if values
mylist=[22,33,44,55,66]
print("original list")
for x in mylist:
    print(x)
mylist[0:5]=1,2,3,4,5
print("after update")
for y in mylist:
    print(y)

original list
22
33
44
55
66
after update
1
2
3
4
5

In [12]:
# adding more elements in a list append()
mylist=[34,45,48,44]
mylist.append(90)
print(mylist)

[34, 45, 48, 44, 90]

In [15]:
# insert() function
mylist=[33,54,"ram","lenin","vimal"]
print(mylist)
mylist.insert(4,"srinivasan")
print(mylist)

[33, 54, 'ram', 'lenin', 'vimal']
[33, 54, 'ram', 'lenin', 'srinivasan', 'vimal']

In [16]:
# extend() 
mylist=[34,45,48,44]
mylist.extend([78,89,90])
print(mylist)

[34, 45, 48, 44, 78, 89, 90]

In [21]:
# deleting elements form a list 
my_sub=["tamil","english","maths","IT","science"]
print(my_sub)
del my_sub[3]
print(my_sub)
del my_sub[3:5]
print(my_sub)
del my_sub

['tamil', 'english', 'maths', 'IT', 'science']
['tamil', 'english', 'maths', 'science']
['tamil', 'english', 'maths']

In [22]:
my_sub

NameError: name 'my_sub' is not defined

In [23]:
# remove() = delete one or more elements
my_list=[1,2,3,4,"a","b","c"]
my_list.remove('a')
print(my_list)

[1, 2, 3, 4, 'b', 'c']

In [25]:
# pop() = remove using index value
my_list=[1,22,2,3,4,5,6]
my_list.pop(1)
print(my_list)

[1, 2, 3, 4, 5, 6]

In [26]:
# clear() = remove only elements
my_list.clear()
print(my_list)

[]

In [27]:
# list and range() function 
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [28]:
for x in range(2,11,2):
    print(x)

2
4
6
8
10

In [29]:
# creating a list with series of values
## list_variable = list(range())

my_list=list(range(2,20,2))
print(my_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [31]:
# generating squares of first 10 natural numbers
squares= []
for x in range (1,11):
    s=x**2
    squares.append(s)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [32]:
# list comprehensions
## list = [expression for variable in range]
### generating squares of first 10 natural numbers using the concept of list comprehension

s=[x**2 for x in range(1,11)]
print(s)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [41]:
# LIST FUNCTIONS 

# copy() = returns a copy of the list 
mylst=[11,12,13,55]
x=mylst.copy()
print("copy list in x:",x)

# count() = returns the no of similar elements present in the last
mylst=[33,44,55,66,66,7,77]
x=mylst.count(66)
print("count the particular elements:",x)

# index() = returns the index value of the first recurring elements
mylst=[34,65,89,90]
x=mylst.index(34)
print("index value:",x)

# reverse() = returns the eorder of the element in the list 
mylst=[11,23,56,77]
mylst.reverse()
print("reverse:",mylst)

# sort() = sorts the element in the list -- list.sort(reverse=True|False, key=myfunc)
mylst=["d","g","h","u","y","r","f","a","n","j","k","i","b","v"]
mylst.sort()
print("sort:",mylst)
mylst.sort(reverse=True)
print("reverse sort:",mylst)

# max(), min(), sum()
mylst=[724,676,737,565,346,787,898]
print("maximum:",max(mylst))
print("minimum:",min(mylst))
print("sum:",sum(mylst))

copy list in x: [11, 12, 13, 55]
count the particular elements: 2
index value: 0
reverse: [77, 56, 23, 11]
sort: ['a', 'b', 'd', 'f', 'g', 'h', 'i', 'j', 'k', 'n', 'r', 'u', 'v', 'y']
reverse sort: ['y', 'v', 'u', 'r', 'n', 'k', 'j', 'i', 'h', 'g', 'f', 'd', 'b', 'a']
maximum: 898
minimum: 346
sum: 4733

In [43]:
# program that creates a list of numbers from 1 to 20 that are divisible by 4
divby4=[]
for i in range(41):
    if (i%4==0):
        divby4.append(i)
print(divby4)

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [44]:
# program to difine a list of countries that are a member of BRICS. chech whether a country is member of BRICS or not
country=["india","russia","srilanka","china","brazil"]
is_member=input("enter the name of the country:")
if is_member in country:
    print(is_member,"is the member of BRICS")
else:
    print(is_member,"is not a member of BRICS")

enter the name of the country: japan

japan is not a member of BRICS

In [3]:
# program to read marks of six subjects and to print the marks scored in each subject and show the total marks
marks = []
subjects = ["TAMIL", "ENGLISH", "MATHS", "SCIENCE", "SOCIAL"]
for i in range(len(subjects)):
    m = int(input("Enter mark for {}: ".format(subjects[i])))
    marks.append(m)
for j in range(len(marks)):
    print("{}. {} mark = {}".format(j+1, subjects[j], marks[j]))
print("Total marks =", sum(marks))

Enter mark for TAMIL:  67
Enter mark for ENGLISH:  66
Enter mark for MATHS:  78
Enter mark for SCIENCE:  89
Enter mark for SOCIAL:  90

1. TAMIL mark = 67
2. ENGLISH mark = 66
3. MATHS mark = 78
4. SCIENCE mark = 89
5. SOCIAL mark = 90
Total marks = 390

In [11]:
# program to read prices of 5 items in a list and then display sum of all the prices, product of all the prices and find the average 
items=[]
prod=1
for i in range(5):
    p=int(input("enter price of items {}:".format(i+1)))
    items.append(p)
for j in range(len(items)):
    print("Price for item {} = Rs {}".format(j + 1, items[j]))
    prod *= items[j]
print("sum of all prices=r\Rs.",sum(items))
print("product of all prices=Rs.",prod)
print("average of all prices = Rs.",sum(items) / len(items))

enter price of items 1: 5
enter price of items 2: 10
enter price of items 3: 15
enter price of items 4: 20
enter price of items 5: 25

Price for item 1 = Rs 5
Price for item 2 = Rs 10
Price for item 3 = Rs 15
Price for item 4 = Rs 20
Price for item 5 = Rs 25
sum of all prices=r\Rs. 75
product of all prices=Rs. 375000
average of all prices = Rs. 15.0

In [13]:
# program to count the number of employees earning more than 1 lakh per annum, the monthly salaries of n number of employees are given 
n= int(input("enter the number of employee:"))
count=0
for i in range(n):
    mon_salary = float(input("enter monthly salary for employee {}:".format(i+1)))
    ann_salary = mon_salary * 12
    if ann_salary > 100000:
        count += 1
print("number of employees earning more than 1 lakhs per annum:",count)

enter the number of employee: 5
enter monthly salary for employee 1: 3000
enter monthly salary for employee 2: 4000
enter monthly salary for employee 3: 50000
enter monthly salary for employee 4: 60000
enter monthly salary for employee 5: 700000

number of employees earning more than 1 lakhs per annum: 3

In [14]:
# program to create a list of numbers in the range 1 to 10. then delete all the even numbers from the list and print the final list 
numbers=list(range(1,11))
filtered_numbers = [num for num in numbers if num % 2 != 0]
print("list after deleting even numbers:",filtered_numbers)

list after deleting even numbers: [1, 3, 5, 7, 9]

In [18]:
# write a program to generate in the fibonacci series and store it in a list, then find the sum of all values

n=int(input("enter no of items:"))
fib_series=[]
a,b=0,1
for _ in range(n):
    fib_series.append(a)
    a,b=b,a+b
print("fibonacci series:",fib_series)
print("sum of fibonacci series:",sum(fib_series))

enter no of items: 6

fibonacci series: [0, 1, 1, 2, 3, 5]
sum of fibonacci series: 12