# **PYTHON PROGRAM**

# Tuple

In [1]:
my_tuple=(1,2,3,3.14,"galaxy",'A')
print(my_tuple)

(1, 2, 3, 3.14, 'galaxy', 'A')

In [7]:
# creating tuples using tuple() function 
my_tuple=tuple([23,22,24,45])
print(my_tuple)
print(type(my_tuple))

(23, 22, 24, 45)
<class 'tuple'>

In [8]:
# creating single element tuple
my_tuple=(10)
print(type(my_tuple))
my_tuple1=(10,)
print(type(my_tuple1))

<class 'int'>
<class 'tuple'>

In [10]:
# accessing values in a tuple 
my_tuple=(12,45,77,87,"galaxy","tamil",55.77,4+5j)
print(my_tuple[2:5])
print(my_tuple)
print(my_tuple[:])

(77, 87, 'galaxy')
(12, 45, 77, 87, 'galaxy', 'tamil', 55.77, (4+5j))
(12, 45, 77, 87, 'galaxy', 'tamil', 55.77, (4+5j))

In [11]:
# update and delete tuple 
my_tup1=(1,2,3,4,5)
my_tup2=(4,5,6,7,8)
tup=my_tup1+my_tup2
print(tup)

(1, 2, 3, 4, 5, 4, 5, 6, 7, 8)

In [12]:
tup1=(2,3,4,5,6)
print("the element of tup1 is",tup1)
del tup1

the element of tup1 is (2, 3, 4, 5, 6)

In [13]:
tup1

NameError: name 'tup1' is not defined

In [14]:
# tuple assignment 
(a,b,c)=(1,2,3)
print(a,b,c)

1 2 3

In [16]:
# expression evaluated before assignment
(x,y,z,p)=(2**2,5/3+4,15%2,56>88)
print(x,y,z,p)

4 5.666666666666667 1 False

In [17]:
# returning multiple values in tuples
## program to return the maximum as well as minimum values in a list 
def min_max(n):
    a=max(n)
    b=min(n)
    return(a,b)
num = (12,33,45,76,87,77)
(max_num,min_num)=min_max(num)
print("maximum value",max_num)
print("minimum value",min_num)

maximum value 87
minimum value 12

In [18]:
# nested tuple
stu=(("vini","X-E",98.7),("arun","X-E",96),("john","X-E",96),("sai","X-E",95))
for i in stu:
    print(i)

('vini', 'X-E', 98.7)
('arun', 'X-E', 96)
('john', 'X-E', 96)
('sai', 'X-E', 95)

In [19]:
# program to swap two values using tuple assignment
a=int(input("enter a value of A:"))
b=int(input("enter a value of B:"))
print("value of A=",a, "\n value of B=",b)
(a,b) = (b,a)
print("value of A=",a, "\n value of B=",b)

enter a value of A: 55
enter a value of B: 67

value of A= 55
 value of B= 67
value of A= 67
 value of B= 55

In [22]:
# write a program using a function that returns the area and circumference of a circel whose radius is passed as an argument, two values using tuple assignment
pi=3.14
def Circle(r):
    return (pi*r*r,2*pi*r)
radius = float(input("enter the radius:"))
(area,circum) = Circle(radius)
print("area of the circle:",area)
print("circumference of the circle:",circum)

enter the radius: 5

area of the circle: 78.5
circumference of the circle: 31.400000000000002

In [23]:
# program that has a list of positive and negative numbers. create a new tuple that pad only positive numbers from the list 
num=(5,-8,6,8,-4,2,1)
positive=()
for i in num:
    if i>0:
        positive += (i,)
print("positive number:",positive)

positive number: (5, 6, 8, 2, 1)

# set

In [24]:
# creating set
set1={1,2,3,3.4,"galaxy"}
print(set1)

{1, 2, 3.4, 3, 'galaxy'}

In [25]:
# creating set using list or tuple
my_list=[2,3,4,5,6]
my_set=set(my_list)
print(my_set)

{2, 3, 4, 5, 6}

In [36]:
# SET OPERATIONS 

# UNION = all elements form the 2 or more sets
set_A={2,3,7,9,8,10}
set_B={1,2,3,4,9,6,11}


U_set=set_A|set_B
print("union method 1:",U_set) 

set_U=set_A.union(set_B)
print("union method 2:",set_U)

# INTERSECTION = the common element in given sets
set_A={2,3,7,9,8,10}
set_B={1,2,3,4,9,6,11}

I_set=set_A&set_B
print("intersection method 1:",I_set) 

set_I=set_A.intersection(set_B)
print("intersection method 2:",set_I)

# DIFFERENCE = include all elements form the A (FIRST) set but not in the B set 
set_A={2,3,7,9,8,10}
set_B={1,2,3,4,9,6,11}

D_set=set_A-set_B
print("difference method 1:",D_set) 

set_D=set_A.difference(set_B)
print("difference method 2:",set_D)

# SYMMETRIC DIFFERENCE = it include both A nad B set but not the same elements form the 2 set 

set_A={2,3,7,9,8,10}
set_B={1,2,3,4,9,6,11}

SD_set=set_A^set_B
print("symmetric difference method 1:",SD_set) 

set_SD=set_A.symmetric_difference(set_B)
print("symmetric difference method 2:",set_SD)

union method 1: {1, 2, 3, 4, 6, 7, 8, 9, 10, 11}
union method 2: {1, 2, 3, 4, 6, 7, 8, 9, 10, 11}
intersection method 1: {9, 2, 3}
intersection method 2: {9, 2, 3}
difference method 1: {8, 10, 7}
difference method 2: {8, 10, 7}
symmetric difference method 1: {1, 4, 6, 7, 8, 10, 11}
symmetric difference method 2: {1, 4, 6, 7, 8, 10, 11}

In [1]:
# program that generate a set of prime numers and another set of even numbers. demonstrate the result of set operations 
even = set([x*2 for x in range(1,11)])
primes=set()
for i in range(2,20):
    j=2
    f=0
    while j <= i/2:
        if i%j == 0:
            f = 1
        j += 1
    if f == 0:
        primes.add(i)
print("even numbers:",even)
print("prime number:",primes)
print("union:",even.union(primes))
print("intersection:",even.intersection(primes))
print("difference:",even.difference(primes))
print("symmetric difference:",even.symmetric_difference(primes))

even numbers: {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}
prime number: {2, 3, 5, 7, 11, 13, 17, 19}
union: {2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20}
intersection: {2}
difference: {4, 6, 8, 10, 12, 14, 16, 18, 20}
symmetric difference: {3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20}

# Dictionaries

In [1]:
# dictionary comprehensions
# dict={expression for variable in sequence [if condition]}

In [3]:
dict= { x:2 * x for x in range(1,10)}
dict

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [10]:
# accessing, adding, modifying and deleting elements from a dictionary
## program to access all the values stored in a dictionary
my_dict = {"reg_no":"1221",
          "name":"Tamilselvi",
          "school":"CGHSS",
          "address":"Rotler St., Chennai 112"}
print(my_dict)
print("Register Number: ", my_dict['reg_no'])
print("Name of the Student: ", my_dict['name'])
print("School: ", my_dict['school'])
print("Address: ", my_dict['address'])

{'reg_no': '1221', 'name': 'Tamilselvi', 'school': 'CGHSS', 'address': 'Rotler St., Chennai 112'}
Register Number:  1221
Name of the Student:  Tamilselvi
School:  CGHSS
Address:  Rotler St., Chennai 112

In [11]:
# program to add a new value 
my_dict = {"reg_no":"1221",
          "name":"Tamilselvi",
          "school":"CGHSS",
          "address":"Rotler St., Chennai 112"}

my_dict["my class"]='XII - E'
print(my_dict)

{'reg_no': '1221', 'name': 'Tamilselvi', 'school': 'CGHSS', 'address': 'Rotler St., Chennai 112', 'my class': 'XII - E'}

In [15]:
# program to delete elements from a dictionary and finally delete the dictionary 
my_dict = {"reg_no":"1221",
          "name":"Tamilselvi",
          "school":"CGHSS",
          "address":"Rotler St., Chennai 112"}
del my_dict["address"]
print(my_dict)
my_dict.clear()
print(my_dict)
del my_dict
print(my_dict)

{'reg_no': '1221', 'name': 'Tamilselvi', 'school': 'CGHSS'}
{}

NameError: name 'my_dict' is not defined

In [16]:
# write a program to remove duplicate from a list
my_list=[1,2,3,3,4,5,6,6,6,7,7,5,5,4]
my_list1=list(set(my_list))
print("remove duplicate:",my_list1)

remove duplicate: [1, 2, 3, 4, 5, 6, 7]

In [19]:
my_list=[1,1,1,2,3,4,5,6,6,7,8]
new_list=[]
for i in my_list:
    if i not in new_list:
        new_list.append(i)
print("list without duplicate:",new_list)

list without duplicate: [1, 2, 3, 4, 5, 6, 7, 8]

In [18]:
# write a program that print the maximum value in a tuple 
my_tuple=(111,22,343,664,5,5,66,77,88,9)
print("maximum value :",max(my_tuple))

maximum value : 664

In [22]:
# write a program that finds the sum of all the numbers in a tuple using while loop
num=(1,2,3,4,9,3,4,5)
i=0
total=0
while i < len(num):
    total += num[i]
    i+=1
print("sum of numbers:",total)

sum of numbers: 31

In [29]:
# write a program that finds sum of all even numbers in a list
my_list=[1,2,3,4,5,6,7,8,9,10]
sum_even = 0
for i in my_list:
    if i%2 == 0:
        sum_even += i
print("sum of even number:",sum_even)

sum of even number: 30

In [35]:
# write a program that reverse a list using a loop
my_list=[1,4,6,4,3,7,1,2,9]
reversed_list=[]
for i in range(len(my_list) - 1,-1,-1):
    reversed_list.append(my_list[i])
print("reversed the list",reversed_list)

reversed the list [9, 2, 1, 7, 3, 4, 6, 4, 1]

In [37]:
# write a program to insert a value in a list at the specified location 
my_list=[22,43,56,87,98,90]
my_list.insert(1,33)
print(my_list)

[22, 33, 43, 56, 87, 98, 90]

In [51]:
# write a program that create a list of numbers from 1 to 50 that are either divisible by 3 or 6

my_list=list(range(1,51))
result=[]
for i in my_list:
    if i%3 == 0 or i%6 == 0:
        result.append(i)
print(result)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [55]:
# Write a program to create a list of numbers in the range 1 to 20. Then delete all the numbers from the list that are divisible by 3.
my_list=list(range(1,21))
new_list=[]
for i in my_list:
    if i%3 != 0:
        new_list.append(i)
print(new_list)

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20]

In [58]:
# Write a program that counts the number of times a value appears in the list. Use a loop to do the same
my_list=[1,2,3,4,4,5,3,4]
value=4
count=0
for i in my_list:
    if i == value:
        count += 1
print(value,"appears",count,"times")

4 appears 3 times

In [71]:
# Write a program that prints the maximum and minimum value in a dictionary
my_dict = {'a': 10, 'b': 5, 'c': 15, 'd': 3}
values=list(my_dict.values())
max_values=values[0]
min_values=values[0]
for i in values:
    if i > max_values:
        max_values = i 
    if i < min_values:
        min_values = i
print("maximum values:",max_values)
print("minimum values:",min_values)

maximum values: 15
minimum values: 3